.product-search-page {
  margin-left: 4rem;
  margin-right: 4rem;
}

.search-field {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.add-product-button {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.product-card img {
  height: 340px;
}
